<!doctype html>
<html>
<head>
<title>通王CMS 后台登录</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script>if(self.parent.frames.length != 0) self.parent.location=document.location;</script>
<link href="{$C[admin_static]}admin/css/login.css" rel="stylesheet" />
</head>

<body>
<form method="post" action="index.php?u=index-login">
<input type="hidden" name="FORM_HASH" value="{$C[FORM_HASH]}" />
<div id="lgn">
	<a href="../" title="返回首页"><img src="{$C[admin_static]}admin/img/logo.gif"></a>
	<input type="text" name="username" class="int" placeholder="帐号" />
	<input type="password" name="password" class="int" placeholder="密码" />
	<input type="submit" value="登录" id="btn" />
</div>
</form>
<script src="{$C[admin_static]}js/jquery.js"></script>
<script>
$("form:first").submit(function(){
	$("#btn").attr("disabled", "disabled").addClass("on").val("登录中...");
	setTimeout(function() { $("#btn").removeAttr("disabled").removeAttr("class").val("登录"); }, 2000);

	$.post($(this).attr("action"), $(this).serialize(), function(data){
		data = toJson(data);
		$(".tips").remove();
		if(data.name != "") {
			$("#lgn .int[name='"+data.name+"']").parent().append('<div class="tips"><i></i><b>'+data.message+"</b></div>");
			$(".tips").click(function(){
				console.log(this)
				this.style.animation = 'none';
				setTimeout(() => this.style.animation = '');
			});
		}else location.href="./";
	});
	return false;
});
function toJson(data) {
	var json = {};
	try{
		json = JSON.parse(data);
	}catch(e){
		//alert(data);
		$("body").replaceWith(data);
	}
	return json;
}
</script>
</body>
</html>
